aiocache
aiofiles
aiohttp
alembic
anthropic
apscheduler
argon2-cffi
asgiref
async-timeout
authlib
azure-ai-documentintelligence
azure-identity
azure-storage-blob
bcrypt
black
boto3
chromadb
colbert-ai
docker
docx2txt
duckduckgo-search
einops
elasticsearch
extract-msg
fake-useragent
fastapi
faster-whisper
firecrawl-py
fpdf2
ftfy
gcp-storage-emulator
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
google-cloud-storage
google-generativeai
googleapis-common-protos
langchain
langchain-community
langfuse
ldap3
loguru
markdown
moto
nltk
openai
opencv-python-headless
openpyxl
opensearch-py
pandas
passlib
peewee
peewee-migrate
pgvector
playwright
psutil
psycopg2-binary
pydantic
pydub
pyjwt
pymdown-extensions
pymilvus
pymongo
pymysql
pypandoc
pypdf
pytest
pytest-docker
python-jose
python-multipart
python-pptx
python-socketio
pytube
pyxlsb
qdrant-client
rank-bm25
rapidocr-onnxruntime
redis
requests
restrictedpython
sentence-transformers
sentencepiece
soundfile
sqlalchemy
tiktoken
transformers
unstructured
uvicorn
validators
xlrd
youtube-transcript-api
